/*  DEBUT GENERALE */
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: FontAwesome;
}
a{
    outline: none;
    text-decoration:none;
    color: black;
}
body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
li{
    list-style: none;
}
/*  FIN GENERALE */

/*  DEBUT HEADER */

header .head{
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-top: 2rem solid #494949;*/
}
.logo-accueil{
    text-align: center;
}
.head a{
    outline: none;
    text-decoration: none;
    color: black;
    width: 100%;
}
header img {
    padding: 1rem 0rem;
    width: 35%;
    text-align: center;
}
header .icon i{
    padding: 1rem 2rem;
    font-size: 30px;
    text-align: center;
}
header .search{
    display: flex;
    flex-direction: row;
}
header .search input{
    display: none;
    padding-left: 10px;
}
header .search button{
    border: none;
    background-color: rgb(0, 0, 0,0);
}
header .search input.active{
    height: 55%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius:10px ;
}

header .icon-search i{
    padding: 1rem 0.5rem;
}
header .icon-search i:hover{
    border-bottom:solid 1px #282841;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    padding: 1.5rem 1rem;
}
nav ul li:hover{
    border-bottom: solid 2px #282841;
}
/*  FIN HEADER */

/* DEBUT SECTION SLIDER*/ 

section.slider{
    grid-column: 1;
    grid-row: 2;
    border-top:  white 10px;
    margin-top: 5px;
    max-width: 100%;
    max-height: 700px;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    background-position: top;
    
}

.slider img{
    max-width: 100%;
    height: 700px;
    min-width: 100%;
    min-height: 100%;
    display: none;
    object-fit:cover;
    object-position: top;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.slider img.active{
    overflow:hidden;
    display: block;
    /*animation: fade 3s;*/
    animation: slide 5s;
}

/* ANIMATION */
@keyframes slide{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes fade {
    from{
        opacity: 0.6;

    }
    to{
        opacity: 1;
    }
}
/* FIN  ANIMATION*/ 

/* FIN SECTION SLIDER  */ 

.News #title {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color: #282841;
}

.title_brand{
    margin-bottom: 10px;
    font-weight: bold;
}

.produitZone{
    margin-top: 10px;
    display: flex;
}

.title_article{
    /*margin-left: auto;*/
}

section{
    grid-column: 1;
    grid-row: 3;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
}

/* SECTION ARTICLE */
.section-article.column{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    /* flex-direction: row; */
    /* align-items: center; */
    background-color: #ffffff;
}
.row div{
    background-color: rgb(255, 255, 255);
}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 1rem;
    width: 250px;
    height: auto;
    padding: 1rem;

}
.note-stock img{
    width: 30%;
    height: 30%;
}
.note-stock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-follow {
    position: relative;
    width:100%;
    height: 70%;
}
.img-follow a{
    position: absolute;
    top :0;
    right: 0;
    margin: 1rem;
}

#linkModifyStyle{
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
}
#linkModify{
    height: 150px;
    width: 800px;
}
/* SECTION RESEAU */

.reseau{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #e1e1e1;
}
.reseau p{
 padding: 2rem 0rem;
 margin-right: 2rem ;
}
.reseau .logo-reseau{
    padding: 2rem 0rem;
    margin-right: 10px;
}
/* FIN SECTION RESEAU */

/*  DEBUT FOOTER */
footer{
    grid-row:4;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
footer .info-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem 1rem 0rem;
}
footer .info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .info .info-assistance,.info-partenariats,.info-propo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.CGU p {
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}
/*  FIN FOOTER */