/* GÉNÉRAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* optionnel mais efficace */
}
img,
video {
  max-width: 100%;
  height: auto;
}
/* DEBUT GENERALE */
* {
  margin: 0;
  padding: 0;
  font-family: FontAwesome;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
body {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100%;
}
li {
  list-style: none;
}
/* FIN GENERALE */
