/*  DEBUT GENERALE */
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: FontAwesome;
}
a{
    outline: none;
    text-decoration:none;
    color: black;
}
body{
   
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto ;
}
li{
    list-style: none;
}
/*  FIN GENERALE */

/*  DEBUT HEADER */

header .head{
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-top: 2rem solid #494949;*/
}
.logo-accueil{
    text-align: center;
}
.head a{
    outline: none;
    text-decoration: none;
    color: black;
    width: 100%;
}
header img {
    padding: 1rem 0rem;
    width: 35%;
    text-align: center;
}
header .icon i{
    padding: 1rem 2rem;
    font-size: 30px;
    text-align: center;
}
header .search{
    display: flex;
    flex-direction: row;
}
header .search input{
    display: none;
    padding-left: 10px;
}

#suggestions{
    display: none;
    padding-left: 10px;
}

#suggestions.active{
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 17%;
    border-radius: 10px;
    text-align: left;
}
#suggestions div{
    display: none;
    padding-left: 10px;
}
#suggestions div.active{
    display: block;
    padding-left: 10px;
}

header .search button{
    border: none;
    background-color: rgb(0, 0, 0,0);
}
header .search input.active{
    height: 55%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius:10px ;
}
#suggestions div.active:hover{
    cursor: pointer;
}


header .icon-search i{
    padding: 1rem 0.5rem;
}
header .icon-search i:hover{
    border-bottom:solid 1px #282841;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    padding: 1.5rem 1rem;
}
nav ul li:hover{
    border-bottom: solid 2px #282841;
}
/*  FIN HEADER */

/* SECTION FAVORIS */
/* 

section{
    grid-column: 1;
    grid-row: 2;
    background-color: #ffffff;
    margin: 2% 10%;
    display: grid;
    grid-template-columns: minmax(100px, 25%) minmax(100px,  25%) minmax(100px,  25%) minmax(100px,  25%);  
    grid-template-rows:  minmax(500px, 25%) minmax(500px, 25%) minmax(500px, 25%) minmax(500px, 25%);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.42);
}
 section a{
    margin: 1rem;
}  */

section {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Remplir automatiquement en fonction de la largeur */
    grid-auto-rows: auto;
    margin: 2% 10%;
    grid-gap: 20px; /* Espacement entre les articles */
    justify-content: space-evenly; /* Espace équilibré horizontalement */
    align-content: space-evenly; /* Espace équilibré verticalement */
  }
  
  /* section a:nth-child(5n+1) {
    grid-column: 1; 
  } */
  

section a div.article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Styles pour toutes les images à l'intérieur de div.article */
section a > div.article img.img_article {
    max-width: 218.86px; /* Redimensionne l'image pour qu'elle s'adapte à la largeur du conteneur */
    max-height: 291.31px; /* Redimensionne l'image pour qu'elle ait une hauteur maximale de 300px */
    margin: 0 auto;
}
  

/* section a > div.article img {
    max-width: 100%; 
    max-height: 100%;
    height: auto; 
} */

section a > div.article p {
    margin: 0; /* Supprime les marges par défaut des paragraphes */
    flex-grow: 1; /* Les paragraphes occupent l'espace disponible */
    margin: 0 auto;
}

section a > div.article .note-stock p{
    text-align: left;
}

section a > div.article button {
    max-width: 100%;
    max-height: 100%; /* Limite la largeur du bouton à 100% de la cellule du grid */
    margin: 0 auto;
    /* Ajoutez d'autres styles personnalisés pour le bouton si nécessaire */
}

.verify{
    padding: 8px;
    color: white;
    background-color: #282841;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
}
section a div.article .note-stock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
section a div.article .note-stock img{
    max-width: 100%;
    width: 33%;
    margin-left:25%;
}
/* SECTION RESEAU */

.reseau{
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.reseau p{
 padding: 2rem 0rem;
 margin-right: 2rem ;
}
.reseau .logo-reseau{
    padding: 2rem 0rem;
    margin-right: 10px;
}
/* FIN SECTION RESEAU */

/*  DEBUT FOOTER */
footer{
    grid-row:4;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
footer .info-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem 1rem 0rem;
}
footer .info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .info .info-assistance,.info-partenariats,.info-propo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.CGU p {
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}
/*  FIN FOOTER */