section {
  grid-column: 1;
  grid-row: 2;
  background-color: #282841;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* SECTION ARTICLE */
.article_section {
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  column-gap: 10px;
}
/* SECTION MENU ARTICLE */
.menu_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 1 / span 3;
  margin-bottom: 10px;
}
.menu_container div {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}
.menu_container div .title_menu {
  padding: 10px;
}
.menu_container div i {
  padding: 10px;
  cursor: pointer;
}
/* FIN MENU ARTICLE*/

/* DEBUT ARTICLE CONTAINER*/
.titleStyle h2 {
  align-items: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 100%;
  gap: 1rem;
}

@media (min-width: 1300px) {
  .section-article.column {
    grid-template-columns: repeat(4, 1fr);
  }
}
.article-container a {
  height: 450px;
}

.img-article {
  width: 100%;
  aspect-ratio: 4/5;
}
.article {
  width: 250px;
  height: 450px;
  margin: auto;
}
.note-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.note-stock img {
  width: 30%;
}

/* FIN ARTICLE CONTAINER*/

/* BRANDS */
.brands_container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.mainBrands {
  height: 90%;
  width: 90%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 42%);
  align-items: center;
}
.mainBrands h1 {
  font-size: 30px;
  color: #282841;
  text-align: center;
  font-style: italic;
}
.brandBlock {
  padding: 20px;
}
.brand {
  text-align: center;
  padding: 10px;
}
.brand span {
  font-size: 25px;
}
.brand span:hover {
  border-bottom: solid 4px #282841;
  cursor: pointer;
}
/* FIN BRANDS */

/* FIN SECTION ARTICLE*/
