/* SECTION CART */
.carte-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.carte {
  margin: 2rem 0rem 4rem 0rem;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.panier {
  color: #282841;
}
.resume {
  background-color: #ffffff;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
  width: 20%;
  height: 70%;
  margin: 2rem 3rem 4rem 0rem;
}

.title-resume-container {
  width: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resume .button-resume {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.btn_resume {
  width: auto;
}
/* .btn_resume:hover{
    background-color: #dfdfdf;
    color: #282841;
} */
.button-resume input[type="submit"] {
  width: auto;
  font-size: 13px;
  border: 1px solid grey;
  background-color: #282841;
  cursor: pointer;
  color: #ffffff;
  padding: 0.5rem;
}
.button-resume input[type="submit"]:disabled {
  background-color: #dfdfdf;
  color: grey;
  border-color: grey;
  cursor: no-drop;
}
.button-resume input[type="submit"]:disabled:hover {
  background-color: #dfdfdf;
  color: grey;
  border-color: grey;
  cursor: no-drop;
}
.button-resume input[type="submit"]:hover {
  background-color: #dfdfdf;
  color: black;
  border-color: black;
  cursor: pointer;
}
.resume h4.paiement {
  padding: 0.5rem 1rem;
  background-color: #282841;
  color: #ffffff;
}
.resume .title-resume h4 {
  padding: 0.5rem 1rem;
}
.title-resume p {
  padding-left: 1rem;
  font-size: 15px;
}

/* FIN SECTION CART*/

/* CONTENT SECTION */

.itemCart {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.imgProduct {
  width: auto;
  display: flex;
  align-items: center;
  margin: auto;
}
.infosProduct {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.editCart {
  width: auto;
  height: auto;
  margin: auto;
}
.editCart #formQuantity #inputQuant {
  width: auto;
}
#btnQuantity {
  width: auto;
  padding: 1px;
  color: white;
  background-color: #282841;
  border: 1px solid grey;
  border-radius: 8px;
}
#btnQuantity:hover {
  background-color: #dfdfdf;
  color: black;
  border-color: black;
  cursor: pointer;
}
.linkCart {
  display: flex;
  font-size: 13px;
  text-decoration: none;
}
.linkCart:hover {
  text-decoration: underline;
}
