section {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* SECTION PAIEMENT */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin: 1rem 2rem;
}
.A {
  height: 70%;
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
}
.info-livraison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-livraison .title {
  margin-bottom: 0.7rem;
}
.form-mode-de-paiement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-mode-de-paiement input[type="submit"] {
  width: 250px;
  font-size: 13px;
  border: 1px solid grey;
  background-color: #282841;
  cursor: pointer;
  color: #ffffff;
  padding: 0.5rem;
  margin: 2px;
}

.form-mode-de-paiement input[type="submit"]:disabled {
  background-color: #dfdfdf;
  color: grey;
  border-color: grey;
  cursor: no-drop;
}
.form-mode-de-paiement input[type="submit"]:disabled:hover {
  background-color: #dfdfdf;
  color: grey;
  border-color: grey;
  cursor: no-drop;
}
.form-mode-de-paiement input[type="submit"]:hover {
  background-color: #dfdfdf;
  color: black;
  border-color: black;
  cursor: pointer;
}
.B {
  height: 100%;
  width: 80%;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
}
#title_payment {
  padding: 5%;
}
.C {
  height: 80%;
  width: 80%;
  background-color: #ffffff;
  margin: 1rem 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
}
.article-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;
}
.C p {
  font-size: 15px;
}
.C h2.rc {
  margin-bottom: 0.5rem;
}
.C h2.pt {
  border-top: solid 1px black;
  margin-bottom: 0.5rem;
}
p.title {
}
/* FIN SECTION PAIEMENT*/
