/*  DEBUT GENERALE */
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: FontAwesome;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1000px auto auto;
  background-color: #f4f4f4;
}
/*  FIN GENERALE */

/*  DEBUT HEADER */
header {
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #e1e1e1;
}
header img {
  padding: 1rem 2rem;
  width: 10%;
}
/*  FIN HEADER */

/*  DEBUT FORMULAIRE */
section {
  grid-row: 2;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .error-message.active {
  display: flex;
  justify-content: center;
  padding: 10px;
  transition: 2s;
}
section .error-message {
  display: none;
}
section .error-message p {
  background-color: rgb(255, 255, 255);
  border-top: solid 10px #282841;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
  color: red;
  width: max-content;
  border-radius: 10px;
  padding: 10px;
}

.formulaire {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 1rem 30% 4rem 30%;
  width: auto;
  border-top: solid 10px #282841;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
}
.input-form {
  padding: 1rem;
  text-align: center;
}
.menu-form {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.menu-form a {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}
.menu-form h1 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}
.menu-form a.active {
  background-color: #dfdfdf;
}
.input-form label {
  text-align: right;
  display: flex;
  text-transform: inherit;
  font-size: 18px;
  font-weight: bold;
}
input,
form p {
  margin-bottom: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border: solid 2px rgb(51, 209, 64);
  border-radius: 5px;
}
input[type="text"].error:focus,
input[type="password"].error:focus,
input[type="email"].error:focus {
  outline: none;
  border: solid 2px rgb(209, 51, 51);
  border-radius: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.form-group1 {
  height: 50px;
  width: 100%;
  border: none;
  margin-top: 30px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
input[type="submit"] {
  width: 100%;
  height: auto;
  background-color: #282841;
  color: #ffffff;
  border-radius: 10px;
}
button[type="button"] {
  margin: 1rem;
  width: 50%;
  height: auto;
  background-color: #282841;
  color: #ffffff;
  border-radius: 10px;
}
input[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #e1e1e1;
  color: #282841;
}
#confirm-purchase {
  margin: 1rem;
  width: 50%;
  height: auto;
  background-color: #282841;
  color: #ffffff;
  border-radius: 10px;
}
#confirm-purchase:hover {
  background-color: #e1e1e1;
  color: #282841;
}
#visa {
  margin: 10px;
  height: 50px;
  width: 200px;
}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
.form a {
  padding: 1rem;
}
/*DEBUT RESEAU*/
.reseau {
  grid-row: 3;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.reseau p {
  padding: 2rem 0rem;
  margin-right: 2rem;
}
.reseau .logo-reseau {
  padding: 2rem 0rem;
  margin-right: 10px;
}
/*  FIN FORMULAIRE */

/*  DEBUT MODAL */
.modal.active {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal_mot_de_passe_oublier {
  display: none;
}
.modal_mot_de_passe_oublier.active {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: solid 10px #282841;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.42);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.modal_mot_de_passe_oublier #email_recuperation {
  max-width: 90%;
  width: 80%;
  max-width: 100%;
  height: auto;
  margin: 1rem;
}
.modal_mot_de_passe_oublier p {
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 1rem;
}
.modal_mot_de_passe_oublier button {
  height: auto;
  width: auto;
  margin: 1rem;
}

/*   FIN MODAL /*

/*  DEBUT FOOTER */
footer {
  grid-row: 4;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
footer .info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 0rem 1rem 0rem;
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .info .info-assistance,
.info-partenariats,
.info-propo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.CGU p {
  text-align: center;
  margin-top: 2rem;
  font-size: 20px;
}
/*  FIN FOOTER */
